lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

.idea
*.iml

.DS_Store
Thumbs.db

.cache
.config
.data
.env
.firebase
.firebaserc
.next
coverage
dist/**/*
esm/**/*
node_modules
sw.js
.vercel

app/apple-icon.png
app/icon.png
certificates
public/sw.js*
public/workbox-*.js*
public/icons

# Sentry Config File
.env.sentry-build-plugin
